:root {
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1rem 0;
    z-index: 999;
}
.navbar .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-brand {
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span {
    font-weight: 300;
}
#navbar-show-btn {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#navbar-show-btn:hover {
    opacity: 1;
}


#navbar-collapse {
    background-color: var(--green);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 2rem;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.navbar-collapse-rmw {
    -webkit-transform: translateX(0)!important;
        -ms-transform: translateX(0)!important;
            transform: translateX(0)!important;
}
#navbar-close-btn {
    background: none;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0.2rem;
    font-size: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    position: absolute;
    right: 1rem;
    top: 2rem;
    border: none;
}
#navbar-close-btn:hover {
    background-color: #fff;
    color: var(--green);
}
.navbar-nav {
    margin-top: 5rem;
}
.nav-item {
    margin: 1.6rem 0;
}
.nav-link {
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.nav-link:hover {
    opacity: 0.8;
}

header {
    min-height: 100vh;
    padding-top: 7rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/OIF.jpeg') center/cover no-repeat;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

header-title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

header-title p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

@-webkit-keyframes bounce-in-top {
    0%{
        -webkit-transform: translateY( 500px  );
                transform: translateY(-500px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }

    30%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        -webkit-transform: translateY( 60px  );
                transform: translateY(-60px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81%{
        -webkit-transform: translateY( 20px  );
                transform: translateY(-20px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;           
    }
    90%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95%{
        -webkit-transform: translateY( 8px  );
                transform: translateY(-8px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100%{
        -webkit-transform: translateY( 0 );
                transform: translateY( 0 );
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0%{
        -webkit-transform: translateY( 500px  );
                transform: translateY(-500px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
    }

    30%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        -webkit-transform: translateY( 60px  );
                transform: translateY(-60px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81%{
        -webkit-transform: translateY( 20px  );
                transform: translateY(-20px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;           
    }
    90%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95%{
        -webkit-transform: translateY( 8px  );
                transform: translateY(-8px  );
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100%{
        -webkit-transform: translateY( 0 );
                transform: translateY( 0 );
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}

.header-from {
    background: rgba(0, 0, 0, 0.4);
    padding: 3rem;
    border-radius: 0.3rem;
}

.header-form h3 {
    font-size: 1.4rem;
}

.header-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.7rem;
}

.header-form form .form-control {
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
}