html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}

a {
    color: var(--dark);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button, input[type="submit"] {
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.text {
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}

 .font-control {
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: enable-italic, sans-serif;
 }