html, bod {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

a {
    color: var(--dark);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button, input[type = "submit"] {
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.text {
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}

.form-control {
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #5ee0fa;
    border-radius: 0.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    border-radius: 0.2rem;
    background-color: transparent;
    color: lightskyblue;
    font-weight: 600;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: lightblue;
}

.resize-animatin-stopper * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.py-4{
    padding: 4rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

.title-wrap {
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.lg-title {
    font-size: 2.5rem;
}

.sm-title {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.my-2{
    margin: 2rem 0;
}

.shadow:hover {
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}